.loading-bar-container {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
    height: 2rem;
    /* background-color: #94a3b8; */
    z-index: 9999;
  }
  
  .loading-bar {
    height: 100%;
    background-color: #4caf50;
    animation: 0.5s ease-in-out;
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  @keyframes loadProgress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
 