@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:500;
  /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5) */
  /* text-shadow: 0 0 8px rgba(255, 255, 255, 0.5); */
}

/* *{
  animation-duration: 1s;
  animation-delay: 1ms;
} */

.button{
  height: 4rem;
  width: 7rem;
  border-radius: 0.5rem;
  animation: normal;
  text-decoration: none;
  -moz-box-shadow: 10px 10px 129px 0px rgba(0, 0, 0, 0.19);
            -webkit-box-shadow: 10px 10px 129px 0px rgba(0, 0, 0, 0.19);
            box-shadow: 10px 10px 129px 0px rgba(0, 0, 0, 0.19);
  outline: none;
  transition: 1s ease-in-out;
}

.button:hover{
  height: 5rem;
  width: 9rem;
  transition: 1s ease-in-out;
  letter-spacing: 0.3rem;
}

.mybg{
  /* background-image: url('./assets/site.jpg'); */
  background-color:rgb(47, 79, 79);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.myref{
  text-decoration: none;
  color:white;
}

.lastb{
  border-radius: 12px;
  transition: 1s ease-in-out;
}

.a1{
  text-decoration: underline;
  font-size: 1.3em;
}
.Img1{
  width: 500px;
  height: 600px;
}
